@import './reset.css';
@import './base.css';
@import './fonts.css';

#app {
  min-width: 100vw;
  padding: 0 5rem;
}

#app, html, body {
  scroll-snap-type: y proximity;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
}

h3, p, ul {
  font-size: 2rem;
}

h3 {
  color: var(--color-text-secondary);
}

@media (max-width: 800px) {
  #app {
    padding: 0 1rem;
  }
}