@import './reset.css';
@import './base.css';
@import './fonts.css';

#app {
  min-width: 100vw;
  padding: 0 5rem;
  overflow-x: hidden;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
}

h3, p {
  font-size: 2rem;
}
