@import "@/assets/css/theme.scss";

:root {
    background-color: $color-background;
    color: $color-text-primary;
    font-family: "Anodina", sans-serif;
    font-weight: 800;
    font-size: 14px;
}

::selection {
    background-color: $color-selection;
}

:root, body {    
    overflow-x: hidden;
}

.page-enter-active,
.page-leave-active {
    transition: opacity 0.75s $timing-primary,
                transform 0.75s $timing-primary;
}
.page-enter {
    opacity: 0;    
    transform: translateY(100vh);
}

.page-leave-to {
    opacity: 0;
}
