@import "@/assets/css/theme.scss";
 
:root {
    background-color: $color-background;
    color: $color-text-primary;
    font-family: "Anodina", sans-serif;
    font-weight: 800;
    font-size: 14px;
    --spacing-init: 100px;
    --spacing: var(--spacing-init);
}

::selection {
    background-color: $color-selection;
}

:root, body {    
    overflow-x: hidden;
}

.page-enter-active {
    transition: opacity 0.75s $timing-primary,
                transform 0.75s $timing-primary;
}
.page-enter,
.page-leave-to {
    transform: translateY(-100vh) scaleY(0);  
    opacity: 0;  
}

@media (max-width: $breakpoint-laptop) {
    :root {
        --spacing: calc(var(--spacing-init) * 0.7);
    }
}

@media (max-width: $breakpoint-tablet) {
    .page-enter,
    .page-leave-to {
        transform: translateY(-100vh);  
        opacity: 0;  
    }
}

@media (max-width: $breakpoint-mobile) {
    :root {
        --spacing: calc(var(--spacing-init) * 0.25);
    }
}