$color-background: rgba(23,24,28, 1);
$color-text-primary: rgba(230, 230, 230, 1);
$color-text-secondary: rgba(230, 230, 230, 0.6);
$color-text-active: #FFF;

$color-underscore: linear-gradient(to right, #F41D62 -20%,#383de1 100%);
$color-selection: #691eca;

$breakpoint-desktop: 1850px;
$breakpoint-laptop: 1200px;
$breakpoint-tablet: 800px;
$breakpoint-mobile: 340px;

$spacing: 10px; 

$timing-primary: cubic-bezier(0, 1, 0.18, 1);